@model IEnumerable<StudentNetwork.Models.Student>

@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<form asp-controller="Students" asp-action="Search">
    <p>
        <input type="text" name="searchString">
        <input type="submit" value="Поиск" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Account" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
            </tr>
        }
    </tbody>
</table>
