@model StudentNetwork.Models.Student

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div style="align-content:center">

    @Html.Raw("<img style=\"height:200px;\" src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Image.Bytes) + "\" />")

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Localizer["FirstName"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Localizer["LastName"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Localizer["Login"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
    </dl>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            @if (ViewBag.FriendshipStatus == FriendshipStatus.Stranger)
            {
                <input type="button" value="@Localizer["Befriend"]" class="btn btn-default"
                       onclick="location.href='@Url.Action("Befriend", "Friends", new { id = Model.Id })'" />
            }
            else if (ViewBag.FriendshipStatus == FriendshipStatus.Subscriber)
            {
                <input type="button" value="@Localizer["CancelRequest"]" class="btn btn-default"
                       onclick="location.href='@Url.Action("Unfriend", "Friends", new { id = Model.Id })'" />
            }
            else
            {
                <input type="button" value="@Localizer["Unfriend"]" class="btn btn-default"
                       onclick="location.href='@Url.Action("Unfriend", "Friends", new { id = Model.Id})'" />
            }

            <input type="button" value="@Localizer["WriteMessage"]" class="btn btn-default"
                   onclick="location.href='@Url.Action("Private", "Chat", new { id = Model.Id})'" />
        </div>
    }
</div>
