@model StudentNetwork.Models.Student


<h2>@Html.DisplayFor(model => model.Name)</h2>
<div style="align-content:center">

    @Html.Raw("<img style=\"height:200px;\" src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Image.Bytes) + "\" />")

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
    </dl>
    @if (User.Identity.IsAuthenticated)
    {
<div class="row">
    @if (ViewBag.FriendshipStatus == FriendshipStatus.Stranger)
    {
        <input type="button" value="Добавить в друзья" class="btn btn-default"
               onclick="location.href='@Url.Action("Befriend", "Friends", new { id = Model.Id })'" />
    }
    else if (ViewBag.FriendshipStatus == FriendshipStatus.Subscriber)
    {
        <input type="button" value="Отменить запрос" class="btn btn-default"
               onclick="location.href='@Url.Action("Unfriend", "Friends", new { id = Model.Id })'" />
    }
    else
    {
        <input type="button" value="Убрать из друзей" class="btn btn-default"
               onclick="location.href='@Url.Action("Unfriend", "Friends", new { id = Model.Id})'" />
    }

    <input type="button" value="Написать сообщение" class="btn btn-default"
           onclick="location.href='@Url.Action("Private", "Chat", new { id = Model.Id})'" />
</div>
    }
</div>
